<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">店舗情報</div>
      <div class="panel-body">
        <%= form_for(@store) do |f| %>
          <div class="form-group">
            <%= f.label :store, '店舗名' %>
            <%= f.text_field :store, disabled: true, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :address, '住所' %>
            <%= f.text_field :address, disabled: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :tel_num, '電話番号' %>
            <%= f.text_field :tel_num, disabled: true, class: 'form-control' %>
          </div>
          
          <div class="text-right">
            <%= link_to '変更', edit_store_path(@store), class: 'btn btn-success' %>
            <%= link_to '削除', @store, method: :delete, data: { confirm: "店舗を削除しますか？" }, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>