<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">求人情報</div>
      <div class="panel-body">
        <%= form_for(@recruit) do |f| %>
        
          <div class="form-group">
            <%= f.label :stores_ids, '対象店舗' %>
            <%= f.text_field :store_ids, value: @recruit.stores.first.store, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :agent, '掲載求人媒体' %>
            <%= f.text_field :agent, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :startdate, '掲載開始日' %>
            <%= f.date_field :startdate, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :enddate, '掲載終了日' %>
            <%= f.date_field :enddate, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :cost, '掲載費用' %>
            <%= f.number_field :cost, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :area, '対象エリア' %>
            <%= f.text_field :area, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :application_num, '応募人数' %>
            <%= f.number_field :application_num, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :interview_num, '面接人数' %>
            <%= f.number_field :interview_num, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :employ_num, '採用人数' %>
            <%= f.number_field :employ_num, disabled: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :memo, '備考欄' %>
            <%= f.text_area :memo, disabled: true, class: 'form-control' %>
          </div>
          <div class="text-right">
            <%= link_to '変更', edit_recruit_path(@recruit), class: 'btn btn-success' %>
            <%= link_to '削除', @recruit, method: :delete, data: { confirm: "求人情報を削除しますか？" }, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>